<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Edit Job</title>
</head>
<body>
    <header>
        <h1>Edit Job</h1>
        <div>
            <a href="/logout">Logout</a>
            <a href="/add">Post a Job</a>
            <a href="/jobs">List of Jobs</a>
            <a href="/admin">Admin Panel</a>
        </div>
    </header>

    <div class="form-container">
        <form method="POST">
            <label for="title">Job Title</label>
            <input type="text" id="title" name="title" value="{{ job.title }}" required>

            <label for="description">Job Description</label>
            <textarea id="description" name="description" required>{{ job.description }}</textarea>

            <button type="submit">Update Job</button>
        </form>
        <div class="back-home-container">
            <a href="/jobs" class="back-home-button">Back to Job Listings</a>
        </div>
    </div>
</body>
</html>